@import url(index.css);

body::before{
    content: "This is me";
}
main{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.main__desc{
    font-family: var(--text-main);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main__desc-grp{
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
}

.main__showcase{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
@media (min-width: 750px) {
    .main__showcase-video .videos{
     display: flex;
     gap: 1rem;   
    }
}



.main__showcase-doodles{
    display: flex;
    flex-direction: column;
}
.images{
    display: grid;
    grid-template-areas:
    "x y"
    "x z";
    grid-template-columns: 1fr 1.35fr;
    align-items: center;
    justify-content: center;
    gap: 0;
    max-width: 900px;
}
.images > img:nth-child(1){
    grid-area: y;
}
.images > img:nth-child(2){
    grid-area: x;
}
.images > img:nth-child(3){
    grid-area: z;
}