@import url(index.css);

body::before{
    content: "Say Hi";
}

main{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.main__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(--text-main);
    width: 65%;
    
}
.main__form form ul{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    
}



.main__form input,.main__form textarea {
    resize: none;
    background: transparent;
    color: var(--clr-text);
    width: 100%;
    outline: none;
    border: solid 1.75px var(--clr-subtext) !important;
    border-radius: 3.5px;
    margin:  0;
    margin-bottom: 0.75rem;
    padding: 2px 1rem !important;
    font-weight: 400  !important;
    transition: all ease 200ms ;
}
.main__form input:focus-visible, .main__form textarea:focus-visible {
    outline: none !important;
    border: solid 2px var(--clr-cta) !important ;
}
.main__form button{
    background-image: none !important;
    background-color: var(--clr-cta);
    color: var(--clr-body);
    border: 2.5px solid transparent;
    border-radius: 7.5px;
    padding: 0.45rem 0.75rem;
    font-size: 0.8em;
}
.main__form button:hover{
    color: var(--clr-text);
    background-color: transparent;
    border: 2.5px solid var(--clr-cta);
}

@media (max-width: 1023px){
    .main__form {
        width: 97% !important;
    }
}